<div class="w-75 mx-auto py-3">

  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <form (ngSubmit)="submitLoginForm(loginForm)" [formGroup]="loginForm" action="">

    <label for="email">Email:</label>
    <input formControlName="email" type="email" class="form-control mb-2 input-mine">
    <div  *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors" class="alert alert-danger py-2">
      <p class="m-0" *ngIf="loginForm.get('email')?.getError('required')">Email is required</p>
      <p class="m-0" *ngIf="loginForm.get('email')?.getError('email')">Email format invalid</p>
    </div>

    <label for="password">Password:</label>
    <input formControlName="password" type="password" class="form-control mb-2 input-mine">
    <div  *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors" class="alert alert-danger py-2">
      <p class="m-0" *ngIf="loginForm.get('password')?.getError('required')">Password is required</p>
      <p class="m-0" *ngIf="loginForm.get('password')?.getError('pattern')">Password must start with uppercase</p>
    </div>

    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-info">
      <span *ngIf="!isLoading">Login</span>
      <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
    </button>
  </form>
</div>
